# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# System files and IDE settings folders
.DS_Store
.idea
.vscode

# Test framework dist (should be rebuilt on each run)
se-actions-tests-p/dist/
